.about-me {
    background: linear-gradient(180deg, rgba(31, 30, 92, 0.63) 0%, rgba(174, 168, 224, 0.63) 100%);
}

.about-me__picture {
    border-radius: 3%;
    max-width: 40vw;
    @include media-tablet {
        width: 60%;
    }
    @include media-mobile {
        width: 70%;
    }
}
